## Data cleaning

In [28]:
# Importing libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Importing data
data = pd.read_csv(r"data\uae_used_cars_10k.csv")
data.head()

,Make,Model,Year,Price,Mileage,Body Type,Cylinders,Transmission,Fuel Type,Color,Location,Description
0,toyota,camry,2016,47819,156500,Sedan,4,Automatic Transmission,Gasoline,Black,Dubai,"2016 toyota camry with Rear camera, Leather se..."
1,kia,sorento,2013,61250,169543,SUV,4,Automatic Transmission,Gasoline,Grey,Abu Dhabi,"2013 kia sorento with Sunroof, Adaptive cruise..."
2,mini,cooper,2023,31861,221583,Soft Top Convertible,4,Automatic Transmission,Gasoline,Grey,Dubai,"2023 mini cooper with Adaptive cruise control,..."
3,nissan,altima,2016,110322,69754,Sedan,4,Automatic Transmission,Gasoline,Red,Dubai,"2016 nissan altima with Rear camera, Adaptive ..."
4,toyota,land-cruiser-76-series,2020,139994,71399,Pick Up Truck,4,Manual Transmission,Gasoline,White,Dubai,2020 toyota land-cruiser-76-series with Adapti...

In [30]:
# The information about the columns
data.info()

# The Cylinder column has Dtype object but the it has to be an integer or numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Price         10000 non-null  int64
 4   Mileage       10000 non-null  int64
 5   Body Type     10000 non-null  object
 6   Cylinders     9895 non-null   object
 7   Transmission  10000 non-null  object
 8   Fuel Type     10000 non-null  object
 9   Color         10000 non-null  object
 10  Location      10000 non-null  object
 11  Description   10000 non-null  object
dtypes: int64(3), object(9)
memory usage: 937.6+ KB

In [31]:
# Checking for null values
data.isnull().sum()


#The Cylinder column has 105 missing values that need  to be cleaned. In this case I am going to use the KNNImputer to fill in the missing values

Make              0
Model             0
Year              0
Price             0
Mileage           0
Body Type         0
Cylinders       105
Transmission      0
Fuel Type         0
Color             0
Location          0
Description       0
dtype: int64

In [32]:
# The Description column will not contribute to the model performance
data['Description'].nunique()

9985

In [33]:
# There  are no duplicate values
data.duplicated().sum()

np.int64(0)

### Checking for categorical column one by one
##### Make column

In [34]:
# A lot of the values are have the same values, there for I will combine the values into one 
# called the "Other" category
display(data.Make.value_counts())
print('#'*50)
print(f"The number of the unique Make is: {data.Make.nunique()}\n Too many to count")
print('#'*50)

Make
mercedes-benz    1486
nissan            925
toyota            893
bmw               698
ford              541
                 ...
gac                 1
haval               1
baic                1
smart               1
morgan              1
Name: count, Length: 65, dtype: int64

##################################################
The number of the unique Make is: 65
 Too many to count
##################################################

##### Model column

In [35]:
#The Model column has a lot of unique values, so I will also 
# combine the values into one called the "Other" category
display(data.Model.value_counts())
print('#'*50)
print(f"The number of the unique models is: {data.Model.nunique()}\n Too many to count")
print('#'*50)

Model
patrol               386
s-class              288
g-class              257
land-cruiser         208
range-rover-sport    198
                    ...
124-spider             1
emgrand-8              1
renegade               1
xkr                    1
ct5                    1
Name: count, Length: 488, dtype: int64

##################################################
The number of the unique models is: 488
 Too many to count
##################################################

##### Body Type column

In [36]:
display(data["Body Type"].value_counts())
print("#"*50)
print("The number of unique values is optimal")
print("#"*50)

Body Type
SUV                     4607
Sedan                   2790
Coupe                    837
Pick Up Truck            432
Hatchback                334
Sports Car               270
Van                      143
Hard Top Convertible     139
Crossover                136
Soft Top Convertible     120
Other                    114
Wagon                     44
Utility Truck             34
Name: count, dtype: int64

##################################################
The number of unique values is optimal
##################################################

##### Transmission column

In [37]:
display(data["Transmission"].value_counts())
print("#"*50)
print("The values are only two and therefore there is no need for further operations \non this columnn")
print("#"*50)

Transmission
Automatic Transmission    9626
Manual Transmission        374
Name: count, dtype: int64

##################################################
The values are only two and therefore there is no need for further operations
on this columnn
##################################################

##### Fuel Type column

In [38]:
display(data["Fuel Type"].value_counts())
print("#"*50)
print("The value counts in the column are manageable")
print("#"*50)

Fuel Type
Gasoline    9714
Diesel       153
Electric     110
Hybrid        23
Name: count, dtype: int64

##################################################
The value counts in the column are manageable
##################################################

##### Color column

In [39]:
display(data["Color"].value_counts())
print("#"*50)
print("The number of categories is manageable")
print("#"*50)

Color
White          3355
Black          2126
Grey           1307
Silver          866
Blue            686
Red             635
Gold            238
Brown           235
Green           154
Burgundy         78
Other Color      78
Beige            75
Yellow           67
Orange           57
Purple           26
Teal             11
Tan               6
Name: count, dtype: int64

##################################################
The number of categories is manageable
##################################################

#### Location column

In [40]:
display(data["Location"].value_counts())
print("#"*50)
print("I will label all the categories with < 20 counts as 'Other'\n because the rest of the counts are too small")
print("#"*50)

Location
 Dubai             7990
 Sharjah            968
 Abu Dhabi          680
 Ajman              163
Abu Dhabi            52
 Al Ain              36
Sharjah              31
Dubai                21
 Ras Al Khaimah      16
Ajman                11
Al Ain               11
 Fujeirah             8
 Umm Al Qawain        8
Umm Al Qawain         2
Ras Al Khaimah        2
Fujeirah              1
Name: count, dtype: int64

##################################################
I will label all the categories with < 20 counts as 'Other'
 because the rest of the counts are too small
##################################################

## Cleaning function

In [ ]:
# Importing libraries
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
# cleaning function

def warangle(filepath):
  # Importing the data
  df = pd.read_csv(filepath)

  # Converting the Cylinder column to type integer
  df['Cylinders'] = pd.to_numeric(df['Cylinders'], errors='coerce')

  # Filling the missing values
  imputer = KNNImputer(n_neighbors=4)
  df['Cylinders'] = imputer.fit_transform(df['Cylinders'].to_frame())

  # Dropping the "Description" column since it does'nt contribute much to model performance
  df = df.drop("Description", axis=1)

  # Combining the values with less than 200 counts into the "Other" category
  value_counts_make = df.Make.value_counts()
  common_values = value_counts_make[value_counts_make > 200].index
  df["Make"] = df.Make.apply(lambda x: x if x in common_values else "Other")

  # Combining the values with less than 100 in the "Model" column with "Other" category
  value_counts_model = df.Model.value_counts()
  filtered_models = value_counts_model[value_counts_model > 100].index
  df["Model"] = df.Model.apply(lambda x: x if x in filtered_models else "Other")

  # Combining the value counts with counts of less 20 in the "Location" with a  category as "Other"
  value_counts_Location = df["Location"].value_counts()
  filtered_locations = value_counts_Location[value_counts_Location > 20].index
  df["Location"] = df["Location"].apply(lambda x: x if x in  filtered_locations else "Other")

  # Encoding the categorical columns
  encoder = OrdinalEncoder()
  categorical_columns = df.select_dtypes("object").columns.to_list()
  df[categorical_columns] = encoder.fit_transform(df[categorical_columns])
  
    
  return df

In [ ]:
df = warangle(r"data\uae_used_cars_10k.csv")

In [ ]:
df.head()

,Make,Model,Year,Price,Mileage,Body Type,Cylinders,Transmission,Fuel Type,Color,Location
0,14.0,1.0,2016,47819,156500,7.0,4.0,0.0,2.0,1.0,3.0
1,0.0,1.0,2013,61250,169543,6.0,4.0,0.0,2.0,7.0,0.0
2,0.0,1.0,2023,31861,221583,8.0,4.0,0.0,2.0,7.0,3.0
3,12.0,2.0,2016,110322,69754,7.0,4.0,0.0,2.0,11.0,3.0
4,14.0,1.0,2020,139994,71399,5.0,4.0,1.0,2.0,15.0,3.0